<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <title>carousel</title>
</head>
<body>
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel_item">
                <img class="carousel-item__img" src="https://source.unsplash.com/random" alt="Mar">
                <div class="carousel-item__details">
                    <div>                        
                        <img src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play">
                        <img src="https://img.icons8.com/color/48/000000/plus--v1.png" alt="Plus">
                    </div>
                    <p class="carousel-item__details--title">Titulo descriptivo</p>                   
                    <p class="carousel-item__details--subtitle">2019-16+ 114 minutos</p>  
                </div>                
            </div>
            <div class="carousel_item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/5191371/pexels-photo-5191371.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Mar">
                <div class="carousel-item__details">
                    <div>                        
                        <img src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play">
                        <img src="https://img.icons8.com/color/48/000000/plus--v1.png" alt="Plus">
                    </div>
                    <p class="carousel-item__details--title">Titulo descriptivo</p>                   
                    <p class="carousel-item__details--subtitle">2019-16+ 114 minutos</p>  
                </div>                
            </div>
            <div class="carousel_item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/2765869/pexels-photo-2765869.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Mar">
                <div class="carousel-item__details">
                    <div>                        
                        <img src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="Play">
                        <img src="https://img.icons8.com/color/48/000000/plus--v1.png" alt="Plus">
                    </div>
                    <p class="carousel-item__details--title">Titulo descriptivo</p>                   
                    <p class="carousel-item__details--subtitle">2019-16+ 114 minutos</p>  
                </div>                
            </div>
        </div>
    </section>
    
</body>
</html>